@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

body {

   font-family:  "New Amsterdam", serif;
   text-align: center;
   background-color: #051427;
   color: #f8bc04;
   padding: 40px;
    
}

h1 {
font-size: 75px;
margin: 50px;

}


.secret-word-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;

}
.letter-box {
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    background-color: #a44322;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    
}


.player-view {
    display: flex;
    align-items: left;
  

}
.letter-bank {
    
    justify-content: center;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap

}

p {
    font-size: 24px;
    display: flex;
    align-items: left;
    }

.letter-button {
    background-color: #a44322;
    color: black;
    border 2px solid #000000;
    font-size: 16px;
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2 ease-in-out;
    
}

.letter-button:hover {
    background-color: grey;
}

.letter-button:disabled {
    background-color: grey;
}



#chances {
 font-size: 24px;
 margin-inline-start: 5px;

}

#message {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    
}

#start, #restart {
    font-family: "New Amsterdam", serif;
    background-color: #051427;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    margin-top: 20px;
}

.hidden {
    display: none;
}